.hero{
    background-image: url('/src/resources/cube-background.png');
    background-size: 45px;
    background-position: center;
    height: auto;
    padding: 100px 80px;

    .hero-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-top: 50px;

        figure{
            margin: 0;

            img{
                width: 100%;
                height:auto;
                max-width:299.55px;
                max-height: 315px;
                min-width:250px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .hero-name{
            h1{
                font-family: $lato-font;
                font-weight: 900;
                font-size: 40px;
                color: $brand-color;
                margin: 0;

                @include media('<=phone'){
                    font-size: 30px;
                }

                @include media('<=tablet'){
                    text-align: center;
                }
            }
            h2{
                font-family: $poppins-font;
                font-weight: Bold;
                font-size: 27px;
                color: $secondary-text-color;
                margin: 0;

                @include media('<=tablet'){
                    text-align: center;
                }
            }
        }
    }
}