@import "./scss/lib/variables","./scss/lib/variables","./scss/lib/breakepoints";
@import "./scss/components/header","./scss/components/contact";
@import "./scss/lib/mixin.scss";

*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    height: 100vh;
    background-color: $main-background;
    background-image: url('/resources/cube-background.png');
    background-size: 45px;
    background-position: center;
    height: auto;
    color: white;
}

.container{
    height: auto;
    padding-top: 100px;

    .project-preview{
        width: 80%;
        max-width: 935px;
        height: 500px;
        background-image: url("/static/preview.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: relative;
        padding: 40px 0;
        margin: 0 auto;
        @include media('<=425px'){
            background-image: url("/static/preview-phone.png");
            padding: 0;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }

    .arrow{
        font-size: 60px;
        margin: 0;
        position: absolute;
        top: 44%;
        color: white;
        text-decoration: none;
    }

    .prev{
        left: -30px;
    }

    .next{
        right: -30px;
    }
    .text-container{
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $main-light-background;

        .details-container{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            h2{
                font-family: $poppins-font;
                font-size: 6.5rem;
                color: $brand-color;
                margin: 0 30px;
            }
    
            p{
                font-family: $poppins-font;
                font-size: 2.5rem;
                text-align: center;
                max-width: 900px;
                color: $secondary-text-color;
                font-weight: 550;
            }

            .icons-container{
                display: grid;
                column-gap: 10px;
                margin: 0 30px;
                grid-template-columns: repeat(2,55px);
                    i{
                        font-size: 5.5rem;
                    }
            }
        }

        .buttons-container{
            margin-top: 30px;
            a{
                margin-right: 5px;
                padding: 10px;
                outline: none;
                border: 4px solid $brand-color;
                background-color: transparent;
                border-radius: 5px;
                text-decoration: none;
                color: $third-text-color;
                font-size: 2rem;
                transition: .6s;
                font-family: $lato-font;
                font-weight: 600;

                    &:hover{
                        background-color: $brand-color;
                        transition: .6s;
                    }
                }
                @include media('<=425px'){
                    display: flex;
                    flex-direction: column;
                    margin: 0 0 20px 0;
                }
            }
        }
        @include media('<=tablet'){
            .text-container{
                height: fit-content;
            }
            .details-container{
                flex-direction: column;
                padding: 20px 0;
                p{
                    max-width: 700px !important;
                    margin: 15px 20px;
                }
                .icons-container{
                    grid-template-columns: repeat(4,55px) !important;
                }
            }
            .buttons-container{
                margin-top: 0;
                margin-bottom: 60px;
                a{
                    margin-bottom: 8px;
                }
            }
        }
}
@include burger-menu