header{
    width: 100%;

    .navbar{
        top: 0;
        background-color: $main-background;
        background-image: url('/resources/cube-background.png');
        background-size: 45px;
        background-position: top;
        height: auto;
        box-shadow: 1px 5px 10px #07010199;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        position: fixed;
        left: 0;
        width: 100%;
        box-sizing: border-box;
        transition: top .6s;
        z-index: 3;

        figure{
            margin: 0;
        }

        ul{
            display: flex;
            text-decoration: none;
            list-style: none;

            a{
                text-decoration: none;
                color: $secondary-text-color;
                height: auto;
                padding: 0 10px;
                font-size: 19px;
                font-family: $poppins-font;
                font-weight: 600;
            }

            li{
                @include media('<=425px'){
                    display: none;
                }
            }
        }
    }
}

