@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,800&display=swap");
header {
  width: 100%; }
  header .navbar {
    top: 0;
    background-color: #21212B;
    background-image: url("/src/resources/cube-background.png");
    background-size: 45px;
    background-position: top;
    height: auto;
    box-shadow: 1px 5px 10px #07010199;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    position: fixed;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    transition: top .6s;
    z-index: 3; }
    header .navbar figure {
      margin: 0; }
    header .navbar ul {
      display: flex;
      text-decoration: none;
      list-style: none; }
      header .navbar ul a {
        text-decoration: none;
        color: #D0D0D2;
        height: auto;
        padding: 0 10px;
        font-size: 2.2rem;
        font-family: "Lato", sans-serif;
        font-weight: 900; }
      @media (max-width: 425px) {
        header .navbar ul li {
          display: none; }
          header .navbar ul li:nth-of-type(4) {
            display: block; } }

.hero {
  background-image: url("/src/resources/cube-background.png");
  background-size: 45px;
  background-position: center;
  height: auto;
  padding: 100px 80px; }
  .hero .hero-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px; }
    .hero .hero-container figure {
      margin: 0; }
      .hero .hero-container figure img {
        width: 100%;
        height: auto;
        max-width: 299.55px;
        max-height: 315px;
        min-width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto; }
    .hero .hero-container .hero-name h1 {
      font-family: "Lato", sans-serif;
      font-weight: 900;
      font-size: 40px;
      color: #28B2B5;
      margin: 0; }
      @media (max-width: 320px) {
        .hero .hero-container .hero-name h1 {
          font-size: 30px; } }
      @media (max-width: 768px) {
        .hero .hero-container .hero-name h1 {
          text-align: center; } }
    .hero .hero-container .hero-name h2 {
      font-family: "Poppins", sans-serif;
      font-weight: Bold;
      font-size: 27px;
      color: #D0D0D2;
      margin: 0; }
      @media (max-width: 768px) {
        .hero .hero-container .hero-name h2 {
          text-align: center; } }

.about {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #2B313F;
  padding: 25px 10px 10px 10px; }
  .about figure {
    margin: 0;
    width: 50%; }
    .about figure img {
      width: 100%;
      height: auto;
      max-width: 581px;
      max-height: 400px;
      min-width: 250px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    @media (max-width: 768px) {
      .about figure {
        width: auto; } }
    @media (min-width: 1441px) {
      .about figure {
        width: auto; } }
  .about .about-text-container {
    margin-bottom: 50px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding-left: 20px; }
    .about .about-text-container h2 {
      font-size: 45px;
      color: #28B2B5;
      font-family: "Lato", sans-serif;
      font-weight: 900;
      font-size: 4.5rem;
      text-align: right;
      margin: 0; }
      @media (max-width: 768px) {
        .about .about-text-container h2 {
          text-align: center;
          justify-content: center;
          margin: 0 auto; } }
    .about .about-text-container p {
      font-size: 25px;
      color: #D0D0D2;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      text-align: right;
      max-width: 630px;
      margin: 5px 0; }
      @media (max-width: 768px) {
        .about .about-text-container p {
          text-align: center;
          height: fit-content;
          margin: 0 auto;
          margin-top: 10px;
          margin-bottom: 10px; } }
    @media (max-width: 768px) {
      .about .about-text-container {
        width: auto; } }
    @media (min-width: 1441px) {
      .about .about-text-container {
        width: auto; } }
  @media (max-width: 768px) {
    .about {
      flex-wrap: wrap-reverse; } }

.skills {
  background-color: #28B2B5;
  height: 350px;
  padding: 30px 0; }
  .skills h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    color: #fdfdfd;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-top: 10px; }
    @media (max-width: 768px) {
      .skills h2 {
        margin-bottom: 10px; } }
  .skills .apps {
    height: 67%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .skills .apps figure {
      margin: 0 50px;
      transition: 0.6s;
      opacity: .5;
      margin-top: 20px;
      margin-bottom: 20px; }
      .skills .apps figure img {
        transition: .6s; }
        .skills .apps figure img:hover {
          width: 110px;
          height: 110px;
          transition: 0.6s; }
        .skills .apps figure img:nth-child(1):hover {
          height: 100px; }
      .skills .apps figure:hover {
        opacity: 1;
        margin: 0 43px; }
        @media (max-width: 425px) {
          .skills .apps figure:hover {
            margin: 21px 43px; } }
      @media (min-width: 768px) {
        .skills .apps figure {
          margin-top: 20px;
          margin-bottom: 10px; } }
    .skills .apps .app {
      font-size: 85px;
      filter: drop-shadow(0 0 10px #555555);
      transition: 0.6s; }
      .skills .apps .app:hover {
        font-size: 100px;
        transition: 0.6s; }
  @media screen and (max-width: 572px) {
    .skills {
      height: fit-content; } }

.work {
  height: auto;
  background-color: #21212B;
  background-image: url("/src/resources/cube-background.png");
  background-size: 45px;
  background-position: center;
  padding: 50px 0 130px 0; }
  .work h2 {
    margin: 0;
    margin-top: 10px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 4.5rem;
    color: #28B2B5;
    display: flex;
    justify-content: center;
    align-items: center; }
  .work p {
    margin: 0;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 3.5rem;
    color: #D0D0D2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 5px; }
  .work .work-cards {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    gap: 20px 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    padding-bottom: 130px; }
    .work .work-cards .card {
      position: relative;
      height: 40vh;
      width: fill;
      border: 1px solid black;
      background-color: #fff;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75); }
      .work .work-cards .card span {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        display: block;
        text-align: center;
        transition: .6s; }
        .work .work-cards .card span a {
          position: relative;
          top: 50%;
          color: #fdfdfd;
          text-decoration: none;
          font-family: "Lato", sans-serif;
          font-size: 2.5rem;
          border: 3px solid #28B2B5;
          border-radius: .3rem;
          padding: .5rem;
          transition: .6s;
          font-weight: 750;
          display: none; }
          .work .work-cards .card span a:hover {
            background-color: #28B2B5;
            transition: .6s; }
      .work .work-cards .card:hover span {
        transition: .6s;
        background-color: rgba(0, 0, 0, 0.345); }
        .work .work-cards .card:hover span a {
          display: initial; }
      .work .work-cards .card:nth-of-type(1) {
        background-color: black;
        background-image: url("/src/static/prv8.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center; }
      @media (max-width: 425px) {
        .work .work-cards .card {
          height: 300px; } }
      @media (max-width: 320px) {
        .work .work-cards .card {
          height: 250px; } }
    @media (max-width: 1440px) {
      .work .work-cards {
        grid-template-columns: repeat(auto-fill, 450px); } }
    @media (max-width: 572px) {
      .work .work-cards {
        grid-template-columns: repeat(auto-fill, 80vw); } }

.contact {
  height: auto;
  background-color: #28B2B5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center; }
  .contact p {
    margin: 0;
    color: #fdfdfd;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-size: 20px; }
  .contact .contact-icons a {
    color: #fdfdfd;
    text-decoration: none;
    margin-right: 5px; }
  .contact .contact-icons i {
    font-size: 50px; }

.sap {
  position: relative;
  height: auto;
  background-color: #242933;
  border-radius: 16px;
  margin: auto;
  margin-top: -200px;
  padding: 25px 50px;
  width: 85vw;
  max-width: 1300px; }
  .sap .sap-text-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; }
    .sap .sap-text-container h2 {
      font-size: 45px;
      color: #28B2B5;
      font-weight: bolder;
      font-family: "Lato", sans-serif;
      margin: 0;
      margin-bottom: 20px;
      text-align: center; }
      @media (max-width: 768px) {
        .sap .sap-text-container h2 {
          margin: 0; } }
      @media (max-width: 320px) {
        .sap .sap-text-container h2 {
          font-size: 35px; } }
    .sap .sap-text-container p {
      font-size: 20px;
      color: #D0D0D2;
      font-weight: 400;
      font-family: "Poppins", sans-serif;
      text-align: center;
      margin: 0 20px;
      width: 500px; }
      @media (max-width: 768px) {
        .sap .sap-text-container p {
          margin: 30px 10px; } }
      @media (max-width: 572px) {
        .sap .sap-text-container p {
          margin: 30px 0; } }
    .sap .sap-text-container a {
      font-size: 22.5px;
      color: #D0D0D2;
      font-weight: 700;
      font-family: "Lato", sans-serif;
      text-align: center;
      border: 5px solid #28B2B5;
      text-decoration: none;
      border-radius: 50px;
      padding: 10px 30px;
      transition: .6s;
      text-align: center; }
      .sap .sap-text-container a:hover {
        background-color: #28B2B5;
        transition: .6s; }
      @media (max-width: 320px) {
        .sap .sap-text-container a {
          font-size: 20px; } }
    @media (max-width: 572px) {
      .sap .sap-text-container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center; } }
  @media (max-width: 768px) {
    .sap {
      width: 80vw; } }
  @media (max-width: 572px) {
    .sap {
      width: 60vw; } }
  @media (max-width: 320px) {
    .sap {
      width: 55vw;
      padding: 25px 40px; } }

.logo {
  height: 500px;
  margin-top: 0;
  background-color: #2B313F; }
  .logo .logo-container {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .logo .logo-container figure {
      margin: 0; }
    @media (max-width: 572px) {
      .logo .logo-container figure {
        margin-top: 60px; } }
    .logo .logo-container p {
      margin: 0;
      text-align: center;
      color: #D0D0D2;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 20px; }
  @media (max-width: 572px) {
    .logo {
      height: 700px; } }
  @media (max-width: 320px) {
    .logo {
      height: 800px; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  background-color: #21212B;
  padding: 0;
  margin: 0; }

.burger-menu {
  width: 100vw;
  position: fixed;
  right: -100vw;
  background-color: #21212B;
  background-image: url("/src/resources/cube-background.png");
  background-size: 45px;
  background-position: center;
  z-index: 4;
  transition: .4s; }
  .burger-menu ul li a {
    color: #D0D0D2;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-weight: 900; }

.is-active {
  right: 0; }

.burger-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  list-style-type: none; }

.burger-menu ul li a {
  font-size: 3.2em;
  margin-bottom: 100px; }

.icon-x {
  font-size: 40px;
  color: #D0D0D2;
  position: absolute;
  top: 30px;
  right: 30px; }

.icon-burger-menu {
  width: 40px;
  height: 40px;
  color: #D0D0D2;
  font-size: 30px;
  display: none; }
  @media (max-width: 425px) {
    .icon-burger-menu {
      display: block; } }
