@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,800&display=swap');
@import 'lib/breakepoints';
@import 'lib/variables';
@import 'lib/mixin';
@import 'components/header';
@import 'components/hero';
@import 'components/about';
@import 'components/skills';
@import 'components/work';
@import 'components/contact';
@import 'components/sap';
@import 'components/logo';

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
    background-color: $main-background;
    padding: 0;
    margin: 0;
}

@include burger-menu